body {
  font-family: Raleway;
  margin: 0;
  background-color: #131a18;
}

h1 {
  color: #ed390c;
}

p {
  color:antiquewhite
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-right {
  display: inline-flex;
  flex: 0.4;
  justify-content: right;
  margin-right: 20px
}

.nav-left {
  display: inline-flex;
  flex: 0.6;
  justify-content: left;
}

.nav-logo {
  display: flex;
  font-size: 12pt;
  margin-left: 10px;
  margin-right: 20px;
}

.nav-logo img {
  width: 70px;
}

.nav-button-container {
  display:inline-flex;
  padding: 10px;
  margin: 10px;
}

.nav-button-container h1 {
  color: antiquewhite;
}

.nav-button-container :hover {
  color:#ed390c;
}

.nav-button-container :hover ~ h1 {
  color:#ed390c;
}

.nav-button-container :hover > h1 {
  color:#ed390c;
}

.nav-button-container img{
  display: inline-block;
  margin-right: 10px;
  width: 30px;
}

.nav-button-container h1{
  display: inline-block;
  margin: 0;
  font-size: 15pt;
  align-content: center;
}

.film-card-container {
  width: 350px;
  height: auto;
  /* border: 2px solid #ed390c; */
  background-color: #0c1311;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
  padding: 20px;
  justify-content: space-between;
}

.film-card-image-container {
  width: 320px;
  height: 320px;
  display: flex;
  border-radius: 10px;
  border: 3px solid #ed390c;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.film-card-image-container img {
  width: 320px;
  height:fit-content;
}

.film-card-image-container #text {
  position: absolute;
  background-color: #ed390c;
  font-size: 15pt;
  padding: 10px;
  right: 0;
  bottom: 0;
  border-top-left-radius: 10px;
}

.film-card-image-container #text p {
  color: antiquewhite;
  margin: 0;
}

.film-card-information-container {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}

.film-card-information-container #text h1 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.film-card-information-container :hover h1 {
  color:antiquewhite;
}

.film-card-information-container #text p {
  margin: 0;
}

.film-card-information-container #text{
  margin-top: 10px;
  margin-bottom: 25px;
}

.film-card-information-container #rating p{
  margin: 0;
}

.film-card-information-container #rating{
  margin-bottom: 10px;
}

.home-container #header {
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom: 0;
}

.film-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
  margin-top: 20px;
}

.next-button {
  background-color: #ed390c;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: 3px solid transparent;
}

.next-button:hover {
  border: 3px solid antiquewhite;
}

.film-det-container {
  margin: 40px;
}

.film-det-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.film-det-card .film-card-image-container {
  width: 400px;
  height: auto;
  margin-right: 30px;
}

.film-det-card .film-card-image-container img {
  width:400px;
  height: auto;
}

.film-det-text {
  width: 700px;
  pointer-events: none;
}

.film-det-text #text {
  font-size: 20pt;
}

.film-det-text .film-card-information-container {
  width: auto;
}

.film-det-back p {
  font-size: 20pt;
  margin-bottom: 40px;
}